ul {
  display: flex;
  padding: 0;
  margin: 0;
}
li {
  list-style-type: none;
  color: var(--primary);
  padding: 7px 12px;
  margin-right: 20px;
  &:hover {
    text-decoration-line: underline;
  }
}

.active {
  text-decoration: underline;
  color: var(--primary);
}
