.itemContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: solid red 1px;
  padding: 0px 20px;
  margin-bottom: 20px;
  img {
    width: 500px;
    border-radius: 10px;
  }
  button {
    height: 30px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
  }
}
.title {
  color: var(--primary);
  margin-right: 30px;
  cursor: pointer;
}

.hide {
  display: none;
}

.hiddentxt {
  font-weight: bold;
  color: #f00;
  z-index: 99;
}
.hiddentxt a {
  color: #f00;
  text-decoration: none;
  z-index: 99;
}
.hiddenimg {
  display: none;
}

.hiddentxt:hover ~ .hiddenimg {
  display: block;
  position: absolute;
  right: 400px;
  z-index: 99;
}
