//elements de base html tous les elems

body {
  margin: auto;
  font-family: var(--font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

input {
  font-size: var(--font-family);
}

::placeholder {
  font-size: var(--font-family);
}
