@use './mixins' as mixin;

.btn {
  padding: 7px 15px;
  border-radius: 20px;
  font-size: 18px;
  font-family: 'Montserrat';
  font-weight: 500;
  cursor: pointer;
}

.btn-primary {
  background-color: var(--primary);
  color: white;
  border: 1px solid var(--primary);
}

.btn-reverse-primary {
  border: 2px solid var(--primary);
  color: var(--primary);
  background-color: white;
  transition: 0.3s all;
  &:hover {
    color: white;
    background-color: var(--primary);
    border: 2px solid var(--primary);
  }
}

.card {
  border-radius: 20px;
  background-color: white;
}

.text-primary {
  color: var(--primary);
}

label {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 3px;
}

input {
  padding: 10px 15px;
  border: 2px solid var(--gray-2);
  border-radius: 20px;
}

.form-error {
  margin: 0;
  color: var(--red-1);
  font-weight: 500;
  font-size: 12px;
}

.selected {
  border: 2px solid var(--primary);
  border-radius: 4px;
}

li {
  cursor: pointer;
}

.style-link {
  cursor: pointer;
  width: 136px;
  height: 34px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 34px;
  display: flex;
  align-items: flex-end;
  text-align: right;
  color: var(--primary);
  &:hover {
    text-decoration-line: underline;
  }
  @include mixin.xs {
    font-size: 12px;
    width: 71px;
    height: 17px;
    line-height: 17px;
  }
}

.active {
  text-decoration: underline;
  color: red;
}
